<h1>Admin Controls</h1>

<a href="{% url 'check_votes' %}" class="button"> <button>Check Votes</button> </a> <br>
<a href="{% url 'purge_user_page' %}" class="button"> <button>Purge User</button> </a> <br>

<hr>
<h3>Import Headlines</h3>
<form action="{% url 'import_headlines' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit!">
</form>
<p>
    Headline data can either be uploaded as a list of strings in JSON format or as raw text by separating the headlines
    with line breaks.<br>  Here are some examples:
    <a href="https://pastebin.com/kmjaH7g9">JSON Example</a>,
    <a href="https://pastebin.com/24rNNTFE">Raw Text Example</a>
</p>

{% include "blocks/messages.html" %}

<br>
<a href="{% url 'index' %}" class="button"> <button>Back</button> </a>