{% extends "base.html" %}

{% block title %}Check Votes{% endblock %}

{% block page_name %}
    check-votes
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Vote Distribution</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover rounded">
                {#            HEADINGS#}
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Headline</th>
{#                    ADDING ALL CHOICES#}
                    {% for choice_text in choices_text %}
                        <th scope="col">{{ choice_text }}</th>
                    {% endfor %}
                    <th scope="col">Total Votes</th>
                </tr>
                </thead>

                {#            CODE FOR DIFFERENT HEADLINES#}
                <tbody>
                {% for headline, dist, total in votes %}
                    <tr>
                        <th scope="row">{{ headline.id }}</th>
                        <td>{{ headline.text }}</td>
                        {% for count in dist %}
                            <td>{{ count }}</td>
                        {% endfor %}
                        <td>{{ total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
