{% extends "base.html" %}

{% block title %} BetterWeb Voting Interface {% endblock %}

{% block page_name %}
    home
{% endblock %}

{% block body %}
    {% if headlines %}
        <div class="row">
            <div class="col">
                <p>You have {{ headlines_size }} headline{{ headlines_size|pluralize }} to vote on.</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {#        VOTE TABLE#}
                <table class="table table-bordered table-hover rounded">
                    {#            HEADINGS#}
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Headline</th>
                        <th scope="col">Publish Time</th>
                        <th scope="col">Vote</th>
                    </tr>
                    </thead>

                    {#            CODE FOR DIFFERENT HEADLINES#}
                    <tbody>
                    {% for headline in headlines %}
                        <tr>
                            <th scope="row">{{ headline.id }}</th>
                            <td>{{ headline.text }}</td>
                            <td>{{ headline.pub_time }}</td>
                            <td><a href="{% url 'vote' headline.id %}" class="button">
                                <button class="btn btn-sm btn-outline-primary">Vote</button>
                            </a></td>
                        </tr>
                    {% endfor %}

                    {#                IF TOO MANY HEADLINES#}
                    {% if more %}
                        <th scope="row">...</th>
                        <td>... {{ more }} more ...</td>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    {% else %}
        <div class="row">
            <h4>All done for today!</h4>
        </div>
    {% endif %}
{% endblock %}