<h1>{{ user.username }}, welcome to the Voting Interface</h1>

{% if headlines %}
    <ol>
        {% for headline in headlines %}
            <li>
                <span>{{ headline.text }}, published at {{ headline.pub_time }}</span> <br>
                <a href="{% url 'detail' headline.id %}" class="button"> <button>Vote</button> </a> <br><br>
            </li>
        {% endfor %}
    </ol>
    <br> <p>You have {{ headlines_size }} headline{{ headlines_size|pluralize }} to vote on.</p>
{% else %}
    <h4>All done for today!</h4>
{% endif %}

<a href="{% url 'logout' %}" class="button"> <button>Logout</button> </a>

{% if message %}
    <p> {{ message }}</p>
{% endif %}

{% if user.is_superuser %}
    <br><br>
    <a href="{% url 'admin_controls' %}" class="button"> <button>Admin Controls</button> </a>
{% endif %}