<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>

{#    LOADING CSS (INCLUDING BOOTSTRAP)#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

{#BOOTSTRAP AND JQUERY#}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{#NAVBAR STUFF#}
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" href="#">
        BWVote
    </a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'index' %}" id="home" class="nav-link">
                <button type="button" class="btn btn-outline-secondary">Home</button>
            </a>
        </li>

        {#        ADMIN ONLY CONTROLS#}
        {% if user.is_superuser %}
            <li class="nav-item">
                <a href="{% url 'import_export_headlines' %}" id="import-export-headlines" class="nav-link">
                    <button type="button" class="btn btn-outline-secondary">Import/Export Headlines</button>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'check_votes' %}" id="check-votes" class="nav-link">
                    <button type="button" class="btn btn-outline-secondary">Check Votes</button>
                </a>
            </li>
            <li class="nav-item" >
                <a href="{% url 'purge_user_page' %}" id="purge-user" class="nav-link">
                    <button type="button" class="btn btn-outline-secondary">Purge Votes</button>
                </a>
            </li>
            <li class="nav-item" >
                <a href="/admin" id="django-admin" class="nav-link">
                    <button type="button" class="btn btn-outline-secondary">Django Admin</button>
                </a>
            </li>
        {% endif %}

        <li class="nav-item" >
            <a href="{% url 'logout' %}" id="logout" class="nav-link">
                <button type="button" class="btn btn-outline-info">Logout</button>
            </a>
        </li>
    </ul>
</nav>

{#BODY AREA OF DOCUMENT#}
<div class="container-fluid mt-3 px-5">
    {#    DEBUGGING STUFF#}
    {% if not user %}
        <h1 style="color: red;">USER OBJECT NOT IN CONTEXT. PLEASE FIX</h1>
    {% endif %}

    {% block body %}{% endblock %}

    <div class="row">
        <div class="col mt-4">
            {% include "blocks/messages.html" %}
        </div>
    </div>
</div>

{#HIGHLIGHT CURRENT PAGE#}
<script>
    var pageName = '{% spaceless %}{% block page_name %}{% endblock %}{% endspaceless %}'
    $('#' + pageName + ' button')
    {#.addClass('disabled')#}
        .removeClass('btn-outline-secondary')
        .addClass('btn-secondary')

    // Add "novalidate" to all forms so that the Bootstrap validation is used instead of the ugly HTML one
    $('form').attr('novalidate', 'novalidate')
</script>

</body>
</html>
