// So that messages float to the bottom
#messages-div {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

// Extra form stuff
* {
  font-family: Ubuntu;
}

// No idea what this does but I don't want to remove it
.form-group.is-invalid {
  .invalid-feedback {
    display: block;
  }
}

// So that code samples display properly
pre {
  color: rgba(255, 63, 113, 0.99);
}

#export-headlines-sample {
  div {
    div {
      max-height: 14em;
      overflow-y: scroll;
    }
  }
}

// Navbar stuff
nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-item {
  min-height: 100% !important;
  //border: 1px solid red;

  a {
    min-height: 100% !important;
    line-height: 200% !important;
  }
}

$admin-color: #f1af10;
.light-admin-background {
  color: $admin-color !important;
  background-color: lighten($admin-color, 40%);
  transition: 0.5s;
}

@mixin admin-color {
  color: darken($admin-color, 10%) !important;
  background-color: lighten($admin-color, 20%);
}

.light-active-background.light-admin-background {
  @include admin-color;
}

.light-admin-background:hover {
  @include admin-color;
  transition: 0.5s;
}

.light-active-background {
  color: #000 !important;
  background-color: #dcdcdc;
  transition: 0.5s;
}

//.disabled {
//  filter: hue-rotate(-50deg) !important;
//}